<p class="mat-display-1">
  Add New Hotel
</p>

<div class="full-vert-container ">
  <mat-form-field>
    <input matInput placeholder="Hotel Name" [(ngModel)]="hotelName" [errorStateMatcher]="inputErrorHighlightableMatcher" [formControl]="hotelNameFormControl">
    <mat-error *ngIf="hotelNameFormControl.hasError('required')"> Hotel name is <strong>required</strong></mat-error>
  </mat-form-field>

  <div style="width:100%; height:20px;"> &nbsp;</div>
  <mat-form-field>
    <textarea cdkTextareaAutosize matInput placeholder="Address" [(ngModel)]="hotelAddress" [errorStateMatcher]="inputErrorHighlightableMatcher" [formControl]="hotelAddressFormControl" ></textarea>
    <mat-error *ngIf="hotelAddressFormControl.hasError('required')"> Hotel address is <strong>required</strong></mat-error>
  </mat-form-field>

  <div style="width:100%; height:27px;"> &nbsp;</div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Select District" [(ngModel)]="hotelDistrictIndex">
        <mat-option *ngFor="let districtName of districtNames; let districtIndex = index" [value]="districtIndex">{{districtName}}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="px400wide-box">
      <input class="px400wide-box" matInput placeholder="Email" [formControl]="hotelEmailFormControl" [errorStateMatcher]="inputErrorHighlightableMatcher" [(ngModel)]="hotelEmail">
      <mat-hint>Hotel email address</mat-hint>
      <mat-error *ngIf="hotelEmailFormControl.hasError('roomTypeCapacity') && !hotelEmailFormControl.hasError('required')">Please enter a valid email address </mat-error>
      <mat-error *ngIf="hotelEmailFormControl.hasError('required')"> Email is <strong>required</strong></mat-error>
    </mat-form-field>

  </div>

  <div class="right-aligned-div">
    <button (click)="clearInputFields()" mat-raised-button>Clear</button>
    &nbsp;&nbsp;
    <button (click)="submit()" mat-raised-button color="primary">Submit</button>
  </div>
</div>
