.full-vert-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.right-aligned-div {

  align-self: flex-end;
}



::ng-deep .success-snack-style{
  background: #393939;

}

::ng-deep .success-snack-style> * {
  color: #00b100;
  font-size: medium;
}

