

::ng-deep .success-snack-style{
  background: #ffffff;
}

::ng-deep .success-snack-style> * {
 color: #00b100!important;
  font-size: medium!important;
}



::ng-deep .invalid-snack-style{
  background: #ffffff;
}

::ng-deep .invalid-snack-style> * {
  color: #b11000 !important;
  font-size: medium!important;
}


