<p class="mat-display-1">
  Add New Contract
</p>

<div class="full-vert-container ">
  <div>
    <mat-form-field style="width:300px;" >
      <mat-select (selectionChange)="hotelIdChanged()"  style="width:300px;" placeholder="Select Hotel" [(ngModel)]="hotelId">
        <mat-option  style="width:350px;" *ngFor="let hotel of hotels" [value]="hotel.hotelId">{{hotel.hotelName}}</mat-option>
      </mat-select>
    </mat-form-field>


    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-mini-fab color="primary" (click)="addItem()">+</button>
  </div>


  <div [formGroup]="orderForm">
    <div formArrayName="items"
         *ngFor="let item of orderForm.controls.items['controls']; let i = index;">
      <div [formGroupName]="i">

        <mat-form-field style="width:300px;" >
          <mat-select formControlName="roomTypeId"  style="width:300px;" placeholder="Select Room Type">
            <mat-option  style="width:350px;" *ngFor="let roomType of roomTypes" [value]="roomType.hotelId">{{roomType.roomTypeName}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="px400wide-box">
          <input formControlName="quantity"  type="number" matInput placeholder="Quantity"  [errorStateMatcher]="inputErrorHighlightableMatcher" >
          <mat-hint>Number of rooms given under the contract</mat-hint>
        </mat-form-field>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="" (click)="removeItem(i)">remove</button>
      </div>

      Chosen name: {{ item['controls']['quantity']['value'] }}


    </div>
  </div>


  <div style="width:100%; height:35px;"> &nbsp;</div>
  <div class="right-aligned-div">
    <button (click)="clearInputFields()" mat-raised-button>Clear</button>
    &nbsp;&nbsp;
    <button (click)="submit()" mat-raised-button color="primary">Submit</button>
  </div>

</div>
